h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    width: 40px;
    height: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    height: 100%;
    margin: 5px;
    border: 1px solid black;
}

/* HEADER */
.header-app {
    width: 95%;
    height: 30%;
    border-bottom: 1px solid black;
}

/* BODY */
.main-app {
    width: 95%;
    height: 60%;
    border-bottom: 1px solid black;
}

/* FOOTER */
.footer-app {
    width: 95%;
    height: 30%;
    /* border-bottom: 1px solid black; */
}


